/* Styling for Tenant Management Component */
.tenant-management-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    color: #2c3e50;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
    color: white !important;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  router-outlet {
    margin-top: 30px;
    display: block;
  }
  