.container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

.table th {
    background-color: #f4f4f4;
    color: #333;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.uploaded-media {
    max-width: 100%;
    max-height: 200px; /* or adjust as needed */
    margin: 5px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    object-fit: contain; /* preserve aspect ratio */
  }
  

.request-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.request-details h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.request-details p {
    font-size: 16px;
    margin-bottom: 10px;
}

input,
select {
    margin-top: 5px;
    padding: 8px;
    width: 250px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}

.button-tech-list {
    background-color: #007bff;
    margin-top: 15px;
}

.button-tech-list:hover {
    background-color: #0056b3;
}

.button-tech-list:active {
    background-color: #004085;
}
